body {
    color: white;
    background-color: black;
    font-family: Georgia, serif;
}

body, body * {
    font-family: 'Times New Roman', serif;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inject > p {
    margin: 0;
    font-weight: bold;
}

.inject_text + .inject_text {
    margin-top: 10px; 
}

.first_text {
    font-size: 20px;
}

.second_text {
    font-size: 12px;
}

.inject_button {
    border: 2px solid red;
    background-color: black;
    color: red;
    margin: 100px 1px 1px 1px;
    padding: 2px 100px 2px 7px;
}

#main {
    align-items: center;
    display: flex;
    flex-direction: column;
}

p, a {
    color: white;
    font-family: 'Times New Roman', serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.inject_text ~ .inject_button {
    margin-top: 10px; 
}
