body{
color: white;
background-color: black;
font-family: Georgia, serif;font-family: 'Times New Roman', serif;

}
.app {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    justify-content: space-between; /* Align content to the top and bottom */

}
.inject p {
margin: 0;
font-weight: bold; 
}
.inject_text {
font-size: 15px;
}

h5 {
text-align: left;
padding: 1px 1px 1px 15px;
}

.inject {
text-align: left;
}

.first_text {
font-size: 20px;
}
.second_text {
font-size: 12px;
}

.inject_button {

border: 2px solid red;
background-color: black;
color: red;
margin: 100px 1px 1px 1px;
padding: 2px 100px 2px 7px; /* Adjust the padding */
text-align: left; /* Center the text horizontally */
}

.footer {
    text-align: right;
    padding: 0px 10px 40px 0px; /* Add padding to the bottom */
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: black;
    font-size: 11px;
}

.footer p {
    margin: 0; /* Remove default margin */
}